@model Pie

@{
    ViewData["Title"] = "Pie Details";
}

<div class="text-center">
    <h1>@Model!.Name</h1>
    <hr />
</div>

<div class="row align-items-center text-center">
    <div class="col-6">
        <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid w-100" />
    </div>
    <div class="col-6">
        <h3>@Model.Price.ToString("c")</h3>
        <p class="lead">@Model.ShortDescription</p>
        <p>@Model.LongDescription</p>

        <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pieId="@Model.Id">Add to cart</a>
    </div>
</div>

