@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<h2>Your shopping cart</h2>
<h4>Here are the delicious pies in your shopping cart.</h4>

<table class="table">
    <thead>
        <tr>
            <th>Selected amount</th>
            <th>Pie</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model!.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td>@line.Amount</td>
                <td>@line.Pie.Name</td>
                <td>@line.Pie.Price.ToString("c")</td>
                <td>@((line.Amount*line.Pie.Price).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <td class="text-right">@Model.ShoppingCartTotal.ToString("c")</td>
        </tr>
    </tfoot>
</table>