@model Pie

<div class="row align-items-center">
    <div class="col">
        <img alt="@Model.Name" src="@Model.ImageUrl" class="img-fluid" />
    </div>
    <div class="col">
        <h3>@Model.Name</h3>
        <hr />
        <h4>@Model.ShortDescription</h4>
        <p>@Model.LongDescription</p>
        <h3>@Model.Price.ToString("c")</h3>
        <button type="button" class="btn btn-primary">Action</button>
    </div>
</div>