@model PieListViewModel

<div class="row text-center">
    <h1>@Model.CurrentCategory</h1>
</div>

<div class="row text-center justify-content-center">
    @foreach (var pie in Model.Pies)
    {
        <div class="col-12 col-md-4 col-lg-3 m-3">
            <div class="card" >
                <img src="@pie.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@pie.Name</h5>
                    <p class="card-text">
                        @pie.Price.ToString("c") | @pie.Category.CategoryName
                    </p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    }
</div>