@model Pie

<div class="col-12 col-md-4 col-lg-3 m-3">
    <div class="card">
        <img src="@Model.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">

            <h5 class="card-title" style="height:3rem;">
                <a asp-controller="Pie" asp-action="Details" asp-route-id="@Model.PieId" class="text-decoration-none text-reset">
                    @Model.Name
                </a>
            </h5>

            <p class="card-text">
                @Model.Price.ToString("c") | @Model.Category.CategoryName
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
            <a class="btn btn-link" asp-controller="Pie" asp-action="Details" asp-route-id="@Model.PieId">info</a>
        </div>
    </div>
</div>